html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    width: 100%;
    color: #FFFFFF;
    
    
}
p,h1,h2,h3 {
    letter-spacing: -0.03em;
}

.container {
    width: 1400px;
    margin: 0 auto;
    background: #000000;
}

.picture {
    width: 1400px;
    height: 765px;
    background-image:url("../resources/foto1.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
    position: relative;  
    padding-top: 33px; 
}

.logo-link__box {
    width: 130px;
    height: 39px;
    position: absolute;
    top: 36px;
    left: 123px;
    opacity: 0px;
    background-color: #000000;
    border-radius: 19px;
    padding: 3px 12px 3px 9px;
}


.nav {
    display: inline-block;
    position: absolute;
    right: 74px;
    
}

.nav__link {
    width: 503px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.picture__text1 {
    font-size: 20px;
    line-height: 26px;
    position: absolute;
    left: 125px;
    top: 334px;
}

.picture__text2 {
    font-size: 80px;
    line-height: 70px;
    color: #1BFF07;
    position: absolute;
    left: 119px;
    top: 466px;

}
.project_header {
    margin: 0;
    font-size: 55px;
    line-height: 71.5px;
    padding-left: 120px;
    padding-top: 150px;
    font-weight: 300;
    margin-bottom: 40px;
}

.project {
    margin-left: 125px;
    width: 1150px;
    height: 550px;
    background-size: contain;
    background-repeat: no-repeat; 
    border-radius: 30px;
    position: relative; 
}

.project__logo {
    position: absolute;
    left: 45px;
    top: 50px;
    background-color: #1BFF07;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: #000000;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-align: center;
}

.project__h2 {
    margin: 0;
    font-size: 35px;
    line-height: 45.5px;
    position: absolute;
    top: 410px;
    left: 50px;
    font-weight: 300;

}

.project__h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
    position: absolute;
    left: 50px;
    top:461px;
}

.projects__btn {
    margin: 80px 0px 0px 123px;
    display: block;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    width: 582px;
    height: 153px;
    font-size: 30px;
    letter-spacing: -0.03em;
    border-radius: 10px;
    background-color: #1BFF07;
    color: #000000;;
    cursor: pointer;   
}

.skills {
    margin-left: 123px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.skills__box{
    width: 570px;
    
}

.projects__btn:hover {
    background-color:#000000;
    color: #1BFF07;
    border: 1px solid #1BFF07;
}

.skills__logo{
    margin-left: 2px;
}

.skills__head {
    margin-top: 12px;
    font-size: 35px;
    line-height: 45.5px;
    color: #1BFF07;

}

.skills__head__br {
    margin-bottom: 60px;
}

.skills__text {
    margin: 15px 0px 64px 0px ;
    font-size: 22px;
    line-height: 28.6px;
}

.header_h2 {
    margin-top: 150px;
    margin-left: 125px;
    color: #FFF;
    font-size: 35px;
    line-height: normal;
    letter-spacing: -1.05px;
}

.box {
    width: 1150px;
    height: 283px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background: #191C19;
    padding: 40px;
}

.boxes {
    margin-top: 74px;
    margin-left: 125px;
}

.box__header {
    margin-bottom: 15px;
    color: #1BFF07;
    font-size: 55px;
    line-height: 60.5px;
    letter-spacing: -1.65px;
    width: 394px;
}

.box__text {
    color: #FFF;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
    width: 525px;
}

.foot {
    margin-top: 135px;
    padding: 76px 125px 20px 125px;
    width: 1400px;
    height: 230px;
    flex-shrink: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #FFF;   
}

.foot__head {
    color: #000;
    font-family: Manrope;
    font-size: 22px;
    letter-spacing: -0.66px;
    margin-bottom: 66px;
}

.rights {
    display: flex;
    justify-content: space-between;
}

.foot__nav{
    display: flex;
    justify-content: space-between;
}

.foot__nav__link{
    display: flex;
    column-gap: 48px;
}

.foot__text {
    color: #000;
    font-family: Manrope;
    font-size: 22px;
    letter-spacing: -0.66px;
    opacity: 0.5;
}

.logo {
    margin-top: 150px;
    position: relative;
}

.feedback {
    position: absolute;
    top: 122px;
    left: 100px;
    width: 567px;
    height: 516px;
}

.logo__head {
    color: #FFFFFF;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    margin-bottom: 60px;
}

.input{
    box-sizing: border-box;
    display: block;
    height: 60px;
    width: 100%;
    border-radius: 40px;
    font-size: 22px;
    line-height: 28.6px;
    letter-spacing: -0.03em;
    background-color:#3B3D3B;
    margin-top: 26px;
    padding-left: 40px;
    border: none;
  }
  
  .input:focus{
    outline: none;
  }
  
  .btn3 {
    display: block;
    text-align: center;
    font-family: Manrope;
    width: 450px;
    height: 67px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
    letter-spacing: -0.9px;
    border-radius: 10px;
    background-color:#1BFF07;
    color:#FFFFFF;
    cursor: pointer;
    margin-top: 60px;
    border-style: none;
    color: #000000;
  }


a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #1BFF07;
}

